src/wsdl/shipping.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:i0="http://ws.aramex.net/ShippingAPI/v1/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="Service_1_0" targetNamespace="http://tempuri.org/">
<wsp:Policy wsu:Id="BasicHttpBinding_Service_1_01_policy">
<wsp:ExactlyOne>
<wsp:All>
<sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
<wsp:Policy>
<sp:TransportToken>
<wsp:Policy>
<sp:HttpsToken RequireClientCertificate="false"/>
</wsp:Policy>
</sp:TransportToken>
<sp:AlgorithmSuite>
<wsp:Policy>
<sp:Basic256/>
</wsp:Policy>
</sp:AlgorithmSuite>
<sp:Layout>
<wsp:Policy>
<sp:Strict/>
</wsp:Policy>
</sp:Layout>
</wsp:Policy>
</sp:TransportBinding>
</wsp:All>
</wsp:ExactlyOne>
</wsp:Policy>
<wsdl:import namespace="http://ws.aramex.net/ShippingAPI/v1/" location="https://ws.aramex.net/ShippingAPI.V2/Shipping/Service_1_0.svc?wsdl=wsdl0"/>
<wsdl:types/>
<wsdl:binding name="BasicHttpBinding_Service_1_0" type="i0:Service_1_0">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="CreateShipments">
<soap:operation soapAction="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/CreateShipments" style="document"/>
<wsdl:input name="ShipmentCreationRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="ShipmentCreationResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="PrintLabel">
<soap:operation soapAction="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/PrintLabel" style="document"/>
<wsdl:input name="LabelPrintingRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="LabelPrintingResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="CreatePickup">
<soap:operation soapAction="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/CreatePickup" style="document"/>
<wsdl:input name="PickupCreationRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="PickupCreationResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="CancelPickup">
<soap:operation soapAction="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/CancelPickup" style="document"/>
<wsdl:input name="PickupCancelationRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="PickupCancelationResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ReserveShipmentNumberRange">
<soap:operation soapAction="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/ReserveShipmentNumberRange" style="document"/>
<wsdl:input name="ReserveRangeRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="ReserveRangeResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetLastShipmentsNumbersRange">
<soap:operation soapAction="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/GetLastShipmentsNumbersRange" style="document"/>
<wsdl:input name="LastReservedShipmentNumberRangeRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="LastReservedShipmentNumberRangeResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ScheduleDelivery">
<soap:operation soapAction="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/ScheduleDelivery" style="document"/>
<wsdl:input name="ScheduledDeliveryRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="ScheduledDeliveryResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="HoldShipments">
<soap:operation soapAction="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/HoldShipments" style="document"/>
<wsdl:input name="HoldCreationRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="HoldCreationResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="AddShipmentAttachment">
<soap:operation soapAction="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/AddShipmentAttachment" style="document"/>
<wsdl:input name="ShipmentAttachmentAdditionRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="ShipmentAttachmentAdditionResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ValidatePickup">
<soap:operation soapAction="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/ValidatePickup" style="document"/>
<wsdl:input name="PickupValidationRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="PickupValidationResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="PrintCommercialInvoice">
<soap:operation soapAction="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/PrintCommercialInvoice" style="document"/>
<wsdl:input name="CommercialInvoicePrintingRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="CommercialInvoicePrintingResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="BasicHttpBinding_Service_1_01" type="i0:Service_1_0">
<wsp:PolicyReference URI="#BasicHttpBinding_Service_1_01_policy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="CreateShipments">
<soap:operation soapAction="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/CreateShipments" style="document"/>
<wsdl:input name="ShipmentCreationRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="ShipmentCreationResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="PrintLabel">
<soap:operation soapAction="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/PrintLabel" style="document"/>
<wsdl:input name="LabelPrintingRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="LabelPrintingResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="CreatePickup">
<soap:operation soapAction="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/CreatePickup" style="document"/>
<wsdl:input name="PickupCreationRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="PickupCreationResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="CancelPickup">
<soap:operation soapAction="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/CancelPickup" style="document"/>
<wsdl:input name="PickupCancelationRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="PickupCancelationResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ReserveShipmentNumberRange">
<soap:operation soapAction="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/ReserveShipmentNumberRange" style="document"/>
<wsdl:input name="ReserveRangeRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="ReserveRangeResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetLastShipmentsNumbersRange">
<soap:operation soapAction="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/GetLastShipmentsNumbersRange" style="document"/>
<wsdl:input name="LastReservedShipmentNumberRangeRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="LastReservedShipmentNumberRangeResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ScheduleDelivery">
<soap:operation soapAction="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/ScheduleDelivery" style="document"/>
<wsdl:input name="ScheduledDeliveryRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="ScheduledDeliveryResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="HoldShipments">
<soap:operation soapAction="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/HoldShipments" style="document"/>
<wsdl:input name="HoldCreationRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="HoldCreationResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="AddShipmentAttachment">
<soap:operation soapAction="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/AddShipmentAttachment" style="document"/>
<wsdl:input name="ShipmentAttachmentAdditionRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="ShipmentAttachmentAdditionResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ValidatePickup">
<soap:operation soapAction="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/ValidatePickup" style="document"/>
<wsdl:input name="PickupValidationRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="PickupValidationResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="PrintCommercialInvoice">
<soap:operation soapAction="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/PrintCommercialInvoice" style="document"/>
<wsdl:input name="CommercialInvoicePrintingRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="CommercialInvoicePrintingResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="Service_1_0">
<wsdl:port name="BasicHttpBinding_Service_1_0" binding="tns:BasicHttpBinding_Service_1_0">
<soap:address location="http://ws.aramex.net/ShippingAPI.V2/Shipping/Service_1_0.svc"/>
</wsdl:port>
<wsdl:port name="BasicHttpBinding_Service_1_01" binding="tns:BasicHttpBinding_Service_1_01">
<soap:address location="https://ws.aramex.net/ShippingAPI.V2/Shipping/Service_1_0.svc"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>